<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Todo App</title>
  <link rel="stylesheet" type="text/css" href="assets/css/styles.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>

<body>
  <div id="app" class="container-fluid d-flex justify-content-center">
    <div class="row">
      <div class="col">
        <h1>Todo App</h1>
        <form class="row g-2" @submit.prevent="addTodo">
          <div class="col-auto">
            <label for="inputTodo" class="visually-hidden">Todo</label>
            <input type="text" class="form-control" id="inputTodo" v-model="newTodoInput">
          </div>
          <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-3">Add Todo</button>
          </div>
        </form>
        <div class="list-group" v-cloak>
          <div class="row g-2" v-for="todo in todos" :key="todo.id">
            <div class="col-auto">
              <label class="list-group-item">
                <input class="form-check-input me-1" type="checkbox" @click="updateTodo(todo.id)"
                  :checked="todo.status === 'complete'">
                {{ todo.name }}
              </label>
            </div>
            <div class="col-auto">
              <button @click="removeTodo(todo.id)" class="btn btn-danger mb-3">Delete</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/vue@3"></script>
  <script src="assets/js/index.js"></script>
</body>

</html>